

img{
    position: 0,0;
    width: 500px;
    height: 333px;
    border: 15px;
    border-color: blue;
    border-style: double;

}


.image1{
filter:grayscale(75%)

}

.image2{

    filter:invert(20%)
}



.image3{

    filter:opacity(75%)
}

.image4{

    filter:sepia(50%)
}

iframe{

    width: 500px;
    height: 333px;
    border: 15px;
    border-color: blue;
    border-style: double;
}



